html, body {
	width: 100%;
	height: 100%;
	min-width: 550px;
}

body {
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

#header, #main, #footer {
	text-align: center;
	margin: 5px;
}

#header	{
	border: 2px solid grey;
	box-shadow: 8px 8px 6px -10px rgba(0,0,0,0.68);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

#header>h1 {
	flex-grow: 1;
}

.low-index {
	font-style: italic;
	color: grey;
	font-weight: 200;
	font-size: medium;
}

#main {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
}

#footer {
	padding: 5px;
}

#logout {
	position: absolute;
	right: 30px;
}

#form {
	width: 33%;
	min-width: 400px;
	text-align: left;
	margin-bottom: 50px;
}