html, body {
	width: 100%;
	height: 100%;
}

body {
	margin: 0px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

#header, #main, #footer {
	text-align: center;
}

#header	{
	height: 80px;
	border: 2px solid black;
}

.low-index {
	font-style: italic;
	color: grey;
	font-weight: 200;
	font-size: medium;
}

#main {
	flex-grow: 1;
}

#footer {
	padding: 10px;
}