<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link href="{{ url_for( 'static', filename='css/main.css') }}" rel="stylesheet" type="text/css" media="all" />
		<link href="{{ url_for( 'static', filename='bootstrap/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all" />
		{% block css %}{% endblock %}
		
		<script src="{{ url_for( 'static', filename='bootstrap/bootstrap.min.js') }}" type="text/javascript" ></script>
	</head>	
	<body>
		<header id="header" class="rounded">
			<h1>The Booksssss <sub class="low-index">Powered by Python & CS50</sub> {% block heading %}{% endblock %}</h1>
		</header>
		
		<section id="main">
			{% block body %}
			{% endblock %}
		</section>
		
		<footer id="footer">
			&copy; <a href="mailto:m.f.fila@seznam.cz">Feelitch</a> 2019
		</footer>
	</body>
</html>